*{
margin: auto;
}
.page{
    background-image:url(images/FoodProductsCOVID19_1600x900_0.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
    font-family: "Arial", sans-serif;
    text-align: center;
    position: absolute;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
}
.imageborder {
    border: 3px solid rgba(30,144,255 ,0.3);
    min-width: 40%;
    min-height: 40%;
    max-width: 60%;
    max-height: 60%;
    padding: 5px;
    background-color: rgba(60, 60, 60, 0.2);
    }
.flex-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  max-width:290px;
}

.button4 {
    background-color: rgba(190, 190, 190, 0.6);
    border: 1px solid rgba(60, 60, 60, 0.3);
    font-weight: 50;
    padding: 1px;
    font-size:19px;
    margin: 3px;
    text-decoration: none;
    flex: 20%;
    box-sizing: border-box;
    font-family: "Verdana";
    
    } 

@media (max-width: 2000px) {
  .button4{
    flex: 100%;
  }
}
@media screen and (min-width: 370 px) {
}


.main-nav
{
    float: center;
    box-sizing: border-box;
}

        
p.a{
    text-align: left;
    margin: 35px 135px 40px;
    font-size: 120%    
}
        
p.b{
    text-indent: 40px;
    margin: 10px 55px 20px;
    position: relative;
    bottom: 20px;
}
