* {
    font-family: "Arial", sans-serif;
    text-align: center;
}


.page {
    font-family: "Arial", sans-serif;
    text-align: center;
}
.logo-container {
  display: block;
  justify-content: center;
  align-items: center;
}


.widget {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

p{
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

div{
    justify-content: center;
    align-items: center;
}
.w3-light-grey {
  background-color: #5c5c5c !important;
}

#leftMenu {
  position: absolute;
  background-color: #5c5c5c;
  z-index: 1;
  display:grid
}

body.dark-mode {
  background-color: #515151;
  color: #d3d3d3;
}

body.dark-mode .w3-light-grey {
  background-color: #aaaaaa !important;
}

body.dark-mode .widget {
  background-color: #444444;
}

body.dark-mode #leftMenu {
  background-color: #3a3a3a;
  color: #d3d3d3;
}

body.dark-mode #leftMenu a,
body.dark-mode #leftMenu button {
  color: #d3d3d3;
}

#darkModeIcon {
  filter: brightness(0);
}