* {
    margin: auto;
    font-family: "Arial", sans-serif;
    text-align: center;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
}

.page {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "Arial", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageborder {
    border: 3px solid rgba(30, 144, 255, 0.3);
    min-width: 30%;
    min-height: 20%;
    max-width: 60%;
    max-height: 45%;
    padding: 5px;
    background-color: rgba(60, 60, 60, 0.2);
    margin: auto;
}

.show {
    display: block;
}

p.a {
    text-align: left;
    margin: 35px 135px 40px;
}

.b {
    text-indent: 40px;
    margin: 10px 55px 20px;
    position: relative;
    bottom: 20px;
}